@{
    ViewData["Title"] = "TodoList";
}
<script src="~/js/index.js"></script>

<div class="container">
    <div class="row">
            <div class="input-group mb-3">
                <input id="todoText" type="text" class="form-control" placeholder="添加記事">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="add()">Add</button>
                </div>
            </div>
    </div>
    <hr size="8px" align="center" width="100%"> 
    <div id="ItemList"></div> 
</div>

<div class="row" id="ItemTemplate" hidden>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" aria-label="todoItem">
            </div>
        </div>
        <label id="ItemContent" class="form-control" aria-label="todoContent"></label>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="remove(this)">🗑️</button>
        </div>
    </div>
</div>
